<template>
    <div>
        <div class="overflow-auto">
            <b-pagination
              v-model="currentPage"
              :total-rows="rows"
              :per-page="perPage"
              aria-controls="my-table"
            ></b-pagination>

            <p class="mt-3">Current Page: {{ currentPage }}</p>

            <b-table
              id="my-table"
              :items="links"
              :per-page="perPage"
              :current-page="currentPage"
              small
            ></b-table>
        </div>
    </div>
</template>

<script>
import axios from 'axios';
import EventBus from '../event_bus.js';

export default{
    props: ["user_id"],
    data: function(){
        return{
            links: [],
            perPage: 5,
            currentPage: 1,
        }
    },
    created(){
		axios.get(`http://localhost:8000/${this.user_id}`,
			{withCredentials: true}).
			then(data => {
				this.links = data.data
			},
				error =>{
					console.log(error);
				})
		},
	mounted(){
		EventBus.$on('updateTime', function(user_id){
			console.log("got signal, updating")
			// call update
			axios.get(`http://localhost:8000/${user_id}`,
				{withCredentials: true}).
				then(data => {
					this.links = data.data
				},
					error =>{
						console.log(error);
					})
		})
	},
    computed: {
      rows() {
        return this.links.length
      }
    },
}

</script>

<style scoped>
</style>

