<template>
    <div>
        <b-form-input v-model="link" type="url" placeholder="Enter link to shorten">
        </b-form-input>
        <b-form-input v-model="subpart" placeholder="Enter subpart that will be used if its free" :state="subValid">
        </b-form-input>
        <b-button variant="outline-primary"
            @click="makeLink">
            Create short link</b-button>
    </div>
</template>

<script>
import axios from 'axios';
import EventBus from '../event_bus.js';

export default{
    props: ["user_id"],
    data: function(){
        return {
            link: "",
            subpart: "",
        }
    },
    methods: {
        makeLink(){
            // payload
            var payload = {
                user_id: this.user_id,
                full_link: this.link,
                subpart: this.subpart,
            }

            // call backend
            axios.post(`http://localhost:8000`, payload,
                {withCredentials: true}).
                then(function(data){
                }, error => {
                    console.log(error)
                })

            setTimeout(() => EventBus.$emit('updateTime', this.user_id), 2000)
        }
    },
    computed: {
        subValid(){
            if (this.subpart.length > 6){
                return false;
            }
            return true;
        }
    }
}

</script>

<style scoped>
</style>

