<template>
  <b-container id="app">
    <b-row>
        <b-col>
            <MakeLink :user_id="user_id" />
        </b-col>
        <b-col>
            <LinkList :user_id="user_id" />
        </b-col>
    </b-row>
  </b-container>
</template>

<script>
import MakeLink from './components/MakeLink.vue'
import LinkList from './components/LinkList.vue'
import { uuid } from 'vue-uuid'

export default {
    name: 'app',
    data: function(){
        return {
            user_id: '',
        }
    },
    components: {
        MakeLink,
        LinkList,
    },
    created(){
        if (localStorage.user_id){
            this.user_id = localStorage.user_id;
        }else{
            // generate user_id
            var user_id = this.$uuid.v4()
            localStorage.user_id = user_id
            this.user_id = user_id
        }
    },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
